{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Card to Wallet</title>
</head>
<body>
 <h1 align="center">Add Card to Wallet</h1>
 <form method="POST" action="/register">
          Type: <input type="text" name="type"><br>
          Number: <input type="text" name="number"><br>
          Name on Card: <input type="text" name="name"><br>
          Zipcode: <input type="text" name="zipcode"><br>
          <input type="submit" value="Add Card">
</form>
</body>
</html> 