{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Wallet</title>
</head>
<body>
    {% block content %}
        {% if addcard %}
            <h1 align="center">Add Card</h1>
            <div class="col-md-2 col-md-offset-5">
                <form method="POST" action="/cards/{{session.uid}}">
                    <div class="form-group">
                        <label class="cols-sm-2 control-label">Type</label>
                        <div class="cols-sm-10">
                           <input type="text" class="form-control" name="type" placeholder="MasterCard, Visa or AmEx"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="cols-sm-2 control-label">Card Number</label>
                        <div class="cols-sm-10">
                            <input type="text" class="form-control" name="number"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="cols-sm-2 control-label">Name on Card</label>
                        <div class="cols-sm-10">
                            <input type="text" class="form-control" name="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="cols-sm-2 control-label">Zip Code</label>
                        <div class="cols-sm-10">
                            <input type="text" class="form-control" name="zipcode"/>
                        </div>
                    </div>

                    <div class="form-group" align="center">
                        <input type="submit" class="btn btn-primary btn-md" value="Add Card">
                    </div>

                </form>
            </div>
        {% elif cards or payment %}
            {% if not payment %}
                <h1 align="center">My Cards <a href="/cards/add"><i class="fa fa-plus-square"></i></a></h1>
            {% else %}
                <h3 align="center">Payment Options</h3>
            {% endif %}

            <table class="table table-bordered">
                <tr>
                    <th>Card Type</th>
                    <th>Card Number</th>
                    <th>Name on Card</th>
                    <th>Card Zip Code</th>
                    <th></th>
                </tr>
                {% for card in cards['Card'] %}
                    <tr>
                        <td>{{card.type}}</td>
                        <td>{{card.number}}</td>
                        <td>{{card.name}}</td>
                        <td>{{card.zipcode}}</td>
                        <td>
                            {% if payment %}
                                <a href="/selectcard/{{card.id}}">Select Card</a>
                            {% else %}
                                <a href="/deletecard/{{card.id}}">Delete Card</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if payment %}
                <div class="col-md-4 col-md-offset-4">
                    <form method="POST" action="/confirm" align="center">
                        <div class="form-group">
                            <label class="cols-sm-2 control-label">Delivery Address</label>
                            <div class="cols-sm-10">
                                <input type="text" class="form-control" name="address"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="cols-sm-2 control-label">Tip</label>
                            <div class="cols-sm-10">
                                <input type="text" class="form-control" name="tip"/>
                            </div>
                        </div>
                        * A delivery fee of $5.00 will be charged additionally.
                        <div class="form-group ">
                            <input type="submit" class="btn btn-success btn-md" value="Confirm Payment and Place Order">
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endif %}

    {% endblock %}
</body>
</html>
