{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Wallet</title>
</head>
<body>
    {% block content %}
    {% if cards %}
    <h1 align="center">My Cards</h1>

    <table class="table table-bordered">
        <tr>
            <th>Card Type</th>
            <th>Card Number</th>
            <th>Name on Card</th>
            <th>Card Zip Code</th>
            {% if total != 0 %}
            <th>Pick One</th>
            {% endif %}
        </tr>
        {% for card in cards['Card'] %}
            <tr>
                <td>{{card.type}}</td>
                <td>{{card.number}}</td>
                <td>{{card.name}}</td>
                <td>{{card.zipcode}}</td>
                {% if total != 0 %}
                <td><a href="/selectcard/{{card.id}}">Select Card</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    

<h1 align="center">Add a New Card</h1>
<form method="POST" action="/card/{{total}}">
          Type: <input type="text" name="type"><br>
          Number: <input type="text" name="number"><br>
          Name on Card: <input type="text" name="name"><br>
          Zipcode: <input type="text" name="zipcode"><br>
          <input type="submit" value="Add Card">
</form>
<form method="POST" action="/confirm">
          Delivery Address: <input type="text" name="address"><br>
          Tip: <input type="text" name="tip"><br>
          <input type="submit" value="Confirm Payment"><br>
</form>
{% endblock %}
</body>
</html> 